.navbar {
  @extend %flex-layout;
  padding: $padding-base $padding-base * 2;
  box-shadow: $box-shadow-base;
  
  .site-title {
    font-size: $font-size-lg;
  }
  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}