// @use 'sass:math';

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .text-#{$key}-hover {
    &:hover {
      color: $val;
    }
  }

  .bg-#{$key} {
    background-color: $val;
  }

  @if ($val != black and $val != white) {
    // LIGHT VARIATIONS
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i}00 {
        color: mix(white, $val, $i * 10);
      }
      .text-#{$key}-light-#{$i}00-hover {
        &:hover {
          color: mix(white, $val, $i * 10);
        }
      }

      .bg-#{$key}-light-#{$i}00 {
        background-color: mix(white, $val, $i * 10);
      }
    }
    
    // DARK VARIATIONS
    @for $i from 1 through 9 {
      .text-#{$key}-dark-#{$i}00 {
        color: mix(black, $val, $i * 10);
      }
      .text-#{$key}-dark-#{$i}00-hover {
        &:hover {
          color: mix(black, $val, $i * 10);
        }
      }

      .bg-#{$key}-dark-#{$i}00 {
        background-color: mix(black, $val, $i * 10);
      }
    }
  } 

}

