@use 'sass:color';

// SIZING




// BUTTONS
@mixin btn($bg-color: #e2e2e2) {
  color: white;
  display: inline-block;
  text-decoration: none;
  background-color: $bg-color;
  padding: $padding-base $padding-base * 2;
  border: 0;
  border-radius: $border-radius-base;
  cursor: pointer;

  &:hover {
    color: $bg-color;
  }
} 



//MEDIA QUERIES FOR SCREEN SIZES
@mixin for-phone-only {
  @media (min-width: 300px) and (max-width: 480px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1025px) and (max-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1201px) {
    @content;
  }
}

//Custom media query
@mixin custom-query($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}


// OR
@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

.responsive-test {
  @include xs {
    color: red;
  }
  @include sm {
    color: blue;
  }
  @include md {
    color: green;
  }
  @include lg {
    color: purple;
  }
  @include xl {
    color: orange;
  }
  @include breakpoint(1400px) {
    color: pink;
  }
}